@charset "utf-8";

/*--------------------------------------------*/
/*Utility classes                             */
/*--------------------------------------------*/

.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

.grid {
    display: grid;
    place-items: center;
}

.flex {
    display: flex;
}

.space {
    justify-content: space-between;
}

/*--------------------------------------------*/
/*Background                                  */
/*--------------------------------------------*/

body {
    background: #171921;
    font-family: 'Exo 2', sans-serif;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

/*--------------------------------------------*/
/*Main                                        */
/*--------------------------------------------*/

.game-area {
    margin-top: 20px;
    width: 500px;
    height: 380px;
    border-radius: 10px;
    position: relative;
    background: #fff url(../img/bg-modal.jpg) center center / cover no-repeat;
    
}

.content {
    position: relative;
    font-size: 24px;
}

.top {
    position: absolute;
    inset: 0 0 auto 0;
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        padding-left: 25px;
        font-size: 20px;
        color:#6e171d;
    }
    
    .game-btn {
        margin-right: 25px;
        width: 80px;
        height: 40px;
        border-radius: 10px;
        background-color: #10c97c;
        font-size: 15px;
        color:#6e171d;
        font-weight: 600;
    }

    .game-btn:hover {
        background-color: #0ba766;   
        transition: ease-in-out 0.25s;
    }
}

.time {
    position: absolute;
    inset: 70px 0 auto 0;
    width: 500px;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap:30px;
    
    .timer {
        font-size: 70px;
        color:#10c97c;
        text-align: center;
        line-height: 45px;
    }
}

.screen {
    position: absolute;
    inset: 150px 25px auto;
    width: 450px;
    height: 80px;
    border-radius: 10px;
    background-color: #2a3d2d;
    cursor: not-allowed;

    h1 {
        font-size: 50px;
        line-height: 80px;
        text-align: center;
        color: #fff;
    }
}

.hit {
    position: absolute;
    inset: 230px 0 auto 0;
    width: 500px;
    height: 50px;

    h2 {
        font-size: 15px;
        line-height: 50px;
        text-align: center;
        color:#6e171d;
    }
}

.input {
    position: absolute;
    inset: 280px 25px auto;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 15px;
    color:#000;
    text-align: center;
    cursor: not-allowed;
}

.input:focus {
    border: 2px solid #2a3d2d;
}

.input::placeholder {
    color: #6e171d;
}

.playing::placeholder {
    color: #757575;
}

.copy-right {
    position: absolute;
    inset: 330px 0 0;
    width: 500px;
    height: 50px;
    font-size: 15px;

    p {
        line-height: 50px;
        text-align: center;
        color:#757575;
    }
}


/*--------------------------------------------*/
/*Modal                                       */
/*--------------------------------------------*/

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);  
    justify-content:center;
    align-items:center;
    z-index: 2;
}

.modal-content {
    background: #fff url(../img/bg-modal.jpg) center center / cover no-repeat;;
    padding: 20px 10px;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    font-size: 16px;
    justify-items: center;
    position:relative;

    h2 {
        color: #6e171d;
        font-size: 20px;
        text-align: center;
    }

    p {
        margin-top: 20px;
        font-size: 16px;
        color: #000;
    }

    .user-image {
        position:absolute;
        inset: auto 120px 20px;
        width:60px;
        height:60px;
    }
}

.score-item {
    width: 250px;
    height: 50px;
    display:flex;
    justify-content: space-between;
}

