@charset "utf-8";

body {
    background-color: #18171f;
}

/*--------------------------------------------*/
/*Utility classes                             */
/*--------------------------------------------*/

.container {
width: min(100% - 30px, 1200px);
margin-inline: auto;
}

.grid {
    display: grid;
    place-items: center;
}

/*--------------------------------------------*/
/*Main                                        */
/*--------------------------------------------*/

h1 {
    font-size: 40px;
    color:#fff;
    font-weight: 500;
}

.dropdown {
    margin: 20px 6px;
    padding: 0 20px;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background-color: #272a30;
    color: #fff;
    font-size: 15px;
    appearance: none;
}

.create {
    margin: 20px 6px;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff7b00;
    font-size: 15px;
    color:#fff;
}

.big-box {
    width: 486px;
    height: 324px;
    background-color: #272a30;
    border-radius: 10px;
    display: flex; 
    flex-direction:column-reverse;
}

.storage-one, .storage-two, .storage-three, .storage-four {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
}

.shape {
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 8px;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 0;
}

.info-box {
    margin-top:10px;
    width: 500px;
    height: 25px;
    background-color: #18171f;
    text-align: center;
}

.information {
    font-size: 15px;
    color: #fff;
}